.rules {
  display: flex;
  justify-content: center;
  align-items: center;
  //   height: 100rem;

  @media (max-width: 900px) {
    display: block;
  }

  & > * {
    padding: 5rem;
    font-size: 1.6rem;
    font-weight: 400;
    font-style: italic;
    line-height: 1.5;
    color: $primary-dark;
    background-color: $primary-light;
  }
}
